body {
    background-color: #5356FF;
}
#bar {
    background-color: #378CE7;
    text-align: center;
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#toDoBox {
    background-color: #DFF5FF;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 80vh;
    height: 80%; 
    border-radius: 15px;
}
div.mb-3{
    padding-top: 20px;
}
label.form-label{
    justify-content: center;
    color:#378CE7;
    font-size: larger;
}

.container .form-label{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/* small.form-text.text-muted{
    text-align: center;
    padding-left: 25%;
} */

input.form-control{
    border-radius: 5px;
}

#submitBtn{
    margin-top: 8px;
    background-color: #67C6E3;
    color:white;
    margin-left: 45%;
    margin-left: 45%;
}
#submitBtn:hover{
    background-color: #5356FF;
    color:black;
}
#toDoListsBox{
    background-color: #378CE7;
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;
    height: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
}
#listsText{
    font-size: xx-large;
}